--- 
layout: default
features:
- title: Beautiful Designs
  description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique incidunt blanditiis corrupti minus alias dolor possimus reprehenderit nam, doloribus velit, odio voluptatibus eaque quaerat repudiandae, veniam placeat debitis iusto laboriosam?
  featured_image: /images/placeholder-project.png
- title: Optimized Builds
  description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique incidunt blanditiis corrupti minus alias dolor possimus reprehenderit nam, doloribus velit, odio voluptatibus eaque quaerat repudiandae, veniam placeat debitis iusto laboriosam?
  featured_image: /images/placeholder-project.png

---


<section class="bg-image bg-plant-2 padded tall-70 grid-middle-right">
    <div class="col-6_sm-10 editable right">
        <h2> Our Services </h2>   
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ex ut, eaque ratione amet neque ipsum? Cupiditate ipsam voluptatem quia corporis repellendus inventore perspiciatis illum totam nihil maiores! Molestiae, consequuntur?</p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ex ut, eaque ratione amet neque ipsum? Cupiditate ipsam voluptatem quia corporis repellendus inventore perspiciatis illum totam nihil maiores! Molestiae, consequuntur?</p>
    </div>
</section>
<section class="padded bg-green">
    <div class="capped-width grid light-text">
        <div class="col-4_xs-12 padded-2">
            <h3> Design </h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis libero dolor similique quod voluptatibus vel eos expedita, veniam obcaecati porro earum iusto, officia fuga quae possimus, fugiat illum reprehenderit deserunt.</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ex ut, eaque ratione amet neque ipsum? Cupiditate ipsam voluptatem quia corporis repellendus inventore perspiciatis illum totam nihil maiores! Molestiae, consequuntur?</p>
        </div>
        <div class="col-4_xs-12 padded-2">
            <h3> Build </h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis libero dolor similique quod voluptatibus vel eos expedita, veniam obcaecati porro earum iusto, officia fuga quae possimus, fugiat illum reprehenderit deserunt.</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ex ut, eaque ratione amet neque ipsum? Cupiditate ipsam voluptatem quia corporis repellendus inventore perspiciatis illum totam nihil maiores! Molestiae, consequuntur?</p>
        </div>
        <div class="col-4_xs-12 padded-2">
            <h3> Optimize </h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis libero dolor similique quod voluptatibus vel eos expedita, veniam obcaecati porro earum iusto, officia fuga quae possimus, fugiat illum reprehenderit deserunt.</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ex ut, eaque ratione amet neque ipsum? Cupiditate ipsam voluptatem quia corporis repellendus inventore perspiciatis illum totam nihil maiores! Molestiae, consequuntur?</p>
        </div>

        <div class="col-12 padded-1 center">
            <a href="/contact" class="button center"> Get in touch! </a>
        </div>
        
    </div>
</section>

{% include newsletter-signup.html %}

<section class="capped-width">


    {% for item in page.features %}

    <div class="grid flex-flip-alternate">
                
        <div class="col-5_sm-12-middle padded editable">
            <h3> {{ item.title }} </h3>
            <p> {{ item.description }} </p>
        </div>
        <div class="col-7_sm-12-middle padded editable">
            <img src="{{item.featured_image}}"  alt="item.title">    
        </div>
        
    </div>

        {% endfor %}
</section> 